// This is the main stylesheet.
//
// It is written in SCSS, a superset of CSS.
//
// It subsequently gets compiled to one compact CSS file.
//
// We use the Bulma CSS framework. It is configured with a number of variables
// to control colors, spacing, and such. This file contains custom variables
// before Bulma is included.
//
// https://bulma.io/documentation/components/navbar/#variables

$navbar-item-color: #ffffff;
$navbar-item-background-color: transparent;
$navbar-item-hover-background-color: transparent;
$navbar-background-color: #191919;

@import 'bulma'; // 0.9.3, https://github.com/j1mc/bulma-scss
@import 'formatting'; 

.is-blocky {
  background-color: #191919;
  * {
    color: #ffffff;
  }
}

.navbar {
  padding: 2rem 3rem;
}

.navbar-logo-item {
  font-weight: bold;
}
