// This is the main stylesheet.
//
// It is written in SCSS, a superset of CSS.
//
// It subsequently gets compiled to one compact CSS file.
//
// We use the Bulma CSS framework. It is configured with a number of variables
// to control colors, spacing, and such. This file contains custom variables
// before Bulma is included.
//
// https://bulma.io/documentation/components/navbar/#variables


@import 'bulma'; // 0.9.3, https://github.com/j1mc/bulma-scss

* {
  font-size: 110%;
}

.zhongwen {
  font-family: "AR PL UKai CN";
  font-size: 150%;
}

mjx-container {
  font-size: 100% !important;
}

header {
  padding: 2em 0;
  font-weight: bold;
}

.is-penrose {
  background: url(/img/penrose-2.png) center repeat-x;
  height: 210px;
}