{% extends "base.html" %}

{% block content %}

<section class="hero is-small is-blocky">
  <div class="hero-body has-text-centered">
    <p class="title is-size-1">
      404
    </p>
    <p class="subtitle">
      not found
    </p>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <p class="is-size-4 is-italic">
      Once upon a midnight dreary, while I pondered, weak and weary,<br>
      Over many a quaint and curious volume of forgotten lore—<br>
      While I nodded, nearly napping, suddenly there came a tapping,<br>
      As of some one gently rapping, rapping at my chamber door.<br>
      “’Tis some visitor,” I muttered, “tapping at my chamber door—<br>
      Only this and nothing more.”<br>
    </p>

    <p class="is-size-4 is-italic">
      Ah, distinctly I remember it was in the bleak December;<br>
      And each separate dying ember wrought its ghost upon the floor.<br>
      Eagerly I wished the morrow;—vainly I had sought to borrow<br>
      From my books surcease of sorrow—sorrow for this four-oh-four—<br>
      For the rare and radiant content which the angels on this shore—<br>
      without link evermore.<br>
    </p>
  </div>
</section>

{% endblock content %}