<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ config.title }}{% if config.extra.site_tagline %} &ndash; {{ config.extra.site_tagline }}{% endif %}</title>
  <link rel="stylesheet" href="{{ get_url(path="main.css") }}">
  <script src="/js/zepto.min.js"></script>
  <script src="/js/polyfill.min.js"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
  </script>
</head>

<body>
  {% block body %}
  <header class="header is-penrose">
    <div class="container content">
      <h1>{{ config.title }}</h1>
      $\{\cdot$
      {% for link in config.extra.site_menu %}
      <a href="{{ link.url }}">
        {{ link.title }}
      </a>
      $\cdot$
      {% endfor %}
      $\}$
    </div>
  </header>

  <main class="main content">
    {% block content %}
    {% endblock content %}
  </main>

  <footer class="footer is-penrose">
    <div class="has-text-centered">
      &copy; 2004 &ndash; {{ now() | date(format="%Y") }} Simon Shine
    </div>
  </footer>
  {% endblock body %}
</body>

</html>