{% extends "base.html" %}

{% block content %}

<section class="hero is-small">
  <div class="hero-body has-text-centered">
    <h1 class="title">
      {{ section.title }}
    </h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul>
      {% for page in section.pages %}
      <li>
        <a href="{{ page.permalink | safe }}" class="is-size-3">{{ page.title }}</a>
        {% if page.extra.author %}
        <br>
        <span class="is-size-4">by {{ page.extra.author }}</span>
        {% endif %}
        <br>
        {{ page.date | date(format="%B %d, %Y") }}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% endblock content %}