{% extends "base.html" %}

{% block content %}

<section class="hero is-small{% if page.extra.chinese %} zhongwen{% endif %}">
  <div class="hero-body has-text-centered">
    <h1 class="title">
      {{ page.title }}
      </p>
      <p class="subtitle">
        {{ page.date | date(format="%B %d, %Y") }}
      </p>
    </h1>
  </div>
</section>

<section class="section{% if page.extra.chinese %} zhongwen{% endif %}">
  <div class="container content">
    {{ page.content | safe }}
  </div>
</section>

{% endblock content %}